{% extends 'base.html' %}
{% block titulo %} Lista de Empleados {% endblock %}

{% block contenido %}
<div class="contenedor-lista">
    <div class="titulo-lista">Lista de Empleados</div>

    <div class="contenedor-tabla">
        <table class="tabla">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.id_emplead }}</td>
                    <td>{{ empleado.nombre_emplead }}</td>
                    <td>{{ empleado.apellido_emplead }}</td>
                    <td>
                        <a class="btn-editar" href="{% url 'editar_empleados' empleado.id_emplead %}">Editar</a>
                        <a class="btn-borrar" href="{% url 'eliminar_empleados' empleado.id_emplead %}">Borrar</a>
                        <a class="btn-acciones" href="{% url 'ver_acciones_empleados' empleado.id_emplead %}">ver
                            acciones</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="no-datos">No existen empleados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="boton-agregar">
        <a class="btn-agregar" href="{% url 'crear_empleados' %}">Agregar Empleado</a>
    </div>
</div>


{% endblock %}