
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}SmartCell{% endblock %}</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="/static/css/base.css"> 
    <link rel="stylesheet" href="/static/css/estilo_CRUD.css"> 
    <!--INCONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <!-- Barra superior con logo y opciones de usuario -->
    <header class="barra_superior">
        <div class="logo-superior">
            <a href="{% url 'inicio' %}">SmartCell</a>
        </div>
        <nav class="menu_superior">
            <a class="nav-item" href="{% url 'mostrar_proveedores' %}">Proveedores</a>
            <a class="nav-item" href="{% url 'mostrar_empleados' %}">Empleados</a>
            <a class="nav-item" href="{% url 'mostrar_clientes' %}">Clientes</a>
            <span class="user-name">
                <i class="fas fa-user-circle"></i> ! Hola {{ request.user.username }} ! :D
            </span>

            <!-- Botón para cerrar sesión -->
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="boton_cierre_sesion"><i class="fas fa-sign-out-alt"></i> Cerrar
                    sesión</button>
            </form>
        </nav>
    </header>

    <!-- Barra lateral de navegación -->
    <nav class="barra_lateral">
        <ul class="nav">
            <li><a class="nav-item" href="{% url 'inicio' %}"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a class="nav-item" href="{% url 'mostrar_articulos' %}"><i class="fas fa-box"></i> Productos</a></li>

            <!-- Menú desplegable de Ventas -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-item">
                    <i class="fas fa-shopping-cart"></i> Ventas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'crear_venta' %}">Nueva venta</a></li>
                    <li><a class="dropdown-item" href="{% url 'historial_ventas' %}">Historial de ventas</a></li>
                </ul>
            </li>
            <!--Menu desplegable de compras-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle nav-item">
                    <i class="fas fa-shopping-cart"></i>Compras
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'crear_compra' %}"> Nueva compra</a></li>
                    <li><a class="dropdown-item" href="{% url 'historial_compras' %}">Historial de compras</a></li>
                </ul>
            </li>

            <!--Boton caja-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle nav-item">
                    <i class="fas fa-shopping-cart"></i>Caja
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'apertura_arqueo' %}"> Apertura de Caja</a></li>
                    <li><a class="dropdown-item" href="{% url 'historial_arqueo' %}">Historial de Caja</a></li>
                </ul>
            </li>

        </ul>
    </nav>

    <!-- Contenedor principal para el contenido -->
    <main class="contenedor_base">
        {% block contenido %}
        <!-- Aquí se insertará el contenido específico de cada página -->
        {% endblock %}
    </main>

    <!-- Pie de página con logo -->
    <footer class="logo_abajo">
        SmartCell © 2024
    </footer>


    <form id="logoutForm" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
    </form>

</body>


<body>
    <script src="/static/scripts/base.js"></script>
</body>

</html>
