{% extends "base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}

<div id="ventasChartContainer" class="chart-container">
    <div class="chart-label">Ventas del Mes</div>
    <canvas id="ventasChart"></canvas>
</div>
{% if messages %}
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
    </div>
</div>
{% endif %}

<body>
    <script src="/static/scripts/inicio.js"></script>
</body>

<head>
    <link rel="stylesheet" href="/static/css/graficos_ventas.css">
</head>

{% endblock %}