{% extends "base.html" %}
{% block titulo %} Apertura de Caja {% endblock %}

{% block contenido %}
<div class="contenedor_apertura_caja">
  <div class="apertura_ap_caka"></div>
  <div class="body__apcaja">
    <h4 class="titulo_ap_caja">Apertura de Caja</h4>

    <!-- Modal para mostrar mensajes -->
    {% if messages %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Mensaje de error con alerta -->
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}

    <!-- Formulario de Apertura de Caja -->
    <form method="post">
      {% csrf_token %}
      <div class="ap_caja">
        {{ form.id_emplead }} <!-- Campo oculto para ID de empleado -->
        <p>
          <label for="id_id_emplead">Empleado:</label>
          <input type="text" id="id_id_emplead" value="{{ request.user.empleado }}" readonly>
        </p>
        <p>
          {{ form.monto_inicial.label_tag }}
          {{ form.monto_inicial }}
          {% for error in form.monto_inicial.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </p>
      </div>
      <button type="submit" class="btn_apertura_caja">Guardar</button>
    </form>
  </div>
</div>

<body>
  <script src="/static/scripts/apertura_arqueo.js"></script>
</body>

</head>
  <link rel="stylesheet" href="/static/css/estilo_apertura_arqueo.css"> 
</head>

{% endblock %}