{% extends "base.html" %}
{% load static %}
{% block titulo %}Historial de Caja{% endblock %}
{% block contenido %}

<div id="pa_contenedor_historial">
    <h2>Historial de Caja</h2>

    <!-- Mostrar mensajes de error en una ventana modal -->
    {% if messages %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Formulario de búsqueda por fecha de apertura -->
    <form method="GET" action="{% url 'historial_arqueo' %}">
        <label for="fecha_apertura">Buscar:</label>
        <input type="date" id="fecha_apertura" name="fecha_apertura" value="{{ fecha_apertura|default:'' }}">
    </form>

    <!-- Barra de botones para registrar acciones -->
    <div class="button-container">
        <a href="{% url 'registrar_ingreso' %}" class="btn btn-i custom-btn">Registrar Ingreso</a>
        <a href="{% url 'registrar_egreso' %}" class="btn btn-e custom-btn">Registrar Egreso</a>
    </div>

    <!-- Contenedor de la tabla con scroll -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre de Empleado</th>
                    <th>Fecha Apertura</th>
                    <th>Fecha Cierre</th>
                    <th>Monto Inicial</th>
                    <th>Total Ingreso</th>
                    <th>Total Egreso</th>
                    <th>Monto Final</th>
                    <th>Cerrar Caja</th>
                    <th>Movimientos</th>

                </tr>
            </thead>
            <tbody>
                {% for arqueo in arqueos %}
                <tr class="{% if arqueo.fecha_hs_cierre %}closed{% endif %}">
                    <td>{{ arqueo.id_emplead }}</td>
                    <td>{{ arqueo.fecha_hs_apertura }}</td>
                    <td>{% if arqueo.fecha_hs_cierre %}{{ arqueo.fecha_hs_cierre }}{% else %}-{% endif %}</td>
                    <td>${{ arqueo.monto_inicial }}</td>
                    <td>${{ arqueo.total_ingreso|floatformat:"2"|default_if_none:"-" }}</td>
                    <td>${{ arqueo.total_egreso|floatformat:"2"|default_if_none:"-" }}</td>
                    <td>${{ arqueo.monto_final|floatformat:"2"|default_if_none:"-" }}</td>

                    <td>
                        {% if arqueo.fecha_hs_cierre %}
                        Cerrada
                        {% else %}
                        <a href="{% url 'cerrar_arqueo' arqueo.id_caja %}" class="btn red-btn">Cerrar</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'movimientos_arqueo' arqueo.id_caja %}"
                            class="btn btn-m custom-btn">Movimientos</a>

                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="no-data">No hay registros de caja disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
            {% if arqueos %}
            {% endif %}
        </table>
    </div>
</div>

<head>
    <link rel="stylesheet" href="/static/css/estilo_historial_arqueo.css">
</head>

<body>
    <script src="/static/scripts/historial_arqueo.js"></script>
</body>

{% endblock %}