{% extends 'base.html' %}
{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}
<div class="contenedor-lista">
    <div class="titulo-lista">Lista de Clientes</div>

    <div class="contenedor-tabla">
        <table class="tabla">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id_cli }}</td>
                        <td>{{ cliente.nombre_cli }}</td>
                        <td>{{ cliente.apellido_cli }}</td>
                        <td>
                            <a class="btn-editar" href="{% url 'editar_clientes' cliente.id_cli %}">Editar</a>
                            <a class="btn-borrar" href="{% url 'eliminar_clientes' cliente.id_cli %}">Borrar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="no-datos">No existen clientes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="boton-agregar">
        <a class="btn-agregar" href="{% url 'crear_clientes' %}">Agregar Cliente</a>
    </div>
</div>
{% endblock %}
