<!DOCTYPE html>
<html>
<body>
    <div class="header">
        <h2>Comprobrante</h2>
    </div>
    <div class="venta-info">
        <p><strong>Codigo de venta:</strong> {{ venta.id_venta }}</p>
        <p><strong>Cliente:</strong> {{ venta.id_cli.nombre_cli }} {{ venta.id_cli.apellido_cli }}</p>
        <p><strong>Fecha:</strong> {{ venta.fecha_hs }}</p>
        <p><strong>Total:</strong> ${{ venta.total_venta }}</p>
    </div>
    <h3>Productos Vendidos</h3>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.id_prod.nombre_prod }}</td>
                <td>${{ detalle.precio_prod }}</td>
                <td>{{ detalle.cant_vendida }}</td>
                <td>${{ detalle.subtotal_venta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

<head>
    <link rel="stylesheet" href="/static/css/estilo_detalle_ventas.css">
</head>
</html>
