{% extends 'base.html' %}
{% block titulo %} Lista de Proveedores {% endblock %}

{% block contenido %}
<div class="contenedor-lista">
    <div class="titulo-lista">Lista de Proveedores</div>

    <div class="contenedor-tabla">
        <table class="tabla">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>CUIT</th>
                    <th>Correo electrónico</th>
                    <th>Contacto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.id_prov }}</td>
                    <td>{{ proveedor.nombre_prov }}</td>
                    <td>{{ proveedor.cuit_prov }}</td>
                    <td>{{ proveedor.correo_prov }}</td>
                    <td>{{ proveedor.tel_prov }}</td>
                    <td>
                        <a class="btn-editar" href="{% url 'editar_proveedores' proveedor.id_prov %}">Editar</a>
                        <a class="btn-borrar" href="{% url 'eliminar_proveedores' proveedor.id_prov %}">Borrar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no-datos">No existen proveedores</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="boton-agregar">
        <a class="btn-agregar" href="{% url 'crear_proveedores' %}">Agregar Proveedor</a>
    </div>
</div>


{% endblock %}